@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&display=swap");
.container {
  max-width: 1140px !important;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body, section {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  overflow: hidden;
  height: auto;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

/* Navbar Start */
.navbar-nav {
  position: relative;
  transition: all 0.3s ease 0s;
  z-index: 999;
}

.navbar-nav .active {
  color: #aaa !important;
}

.nav-item a {
  color: #000000;
  font-weight: 600;
  font-size: 20px !important;
  transition: all 0.3s ease 0s;
  height: 40px;
  letter-spacing: 1px;
  line-height: 1.25;
}

/* Navbar End */
/*******************************/
/* Main Panner Start */
.grid-panner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding-top: 40px;
  text-align: center;
  height: 100vh;
}

.image-left {
  grid-column: 1/3;
  grid-row: 1/3;
  background-image: url(/Image/left-banner-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.image-right {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.image-right-1 {
  background-image: url(/Image/baner-right-image-01.jpg);
}

.image-right-2 {
  background-image: url(/Image/baner-right-image-02.jpg);
}

.image-right-3 {
  background-image: url(/Image/baner-right-image-03.jpg);
}

.image-right-4 {
  background-image: url(/Image/baner-right-image-04.jpg);
}

.panner-text h4 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

.panner-text span {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400;
  font-style: italic;
}

.btn .btn-outline-light {
  padding: 30px 30px;
}

.inner-content h4 {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}

.inner-content span {
  color: #fff !important;
  font-style: italic !important;
  font-size: 16px !important;
}

.image-right:hover {
  opacity: 1;
  visibility: visible;
}

.main-border-button .btn {
  padding: 10px 20px;
  border-radius: 0;
  font-weight: 500;
  font-size: 14px;
}

/* Main Panner End */
/* men & woman & kids start  */
.section {
  padding-top: 90px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}

.section .Head {
  margin-bottom: 60px;
}

.section .Head h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #2a2a2a;
}

.section span {
  font-size: 18px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}

.item .down-content {
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.item .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}

.item .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}

.item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 30px;
}

.item .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}

.item .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -60px;
  width: 100%;
  visibility: hidden;
  transition: all 0.5s;
}

.item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.item .thumb {
  position: relative;
}

.item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}

.item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}

.section img {
  display: block;
  width: 100%;
}

.owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-25px);
}

.owl-dots {
  display: none;
}

.owl-prev {
  position: absolute;
  left: -80px;
  outline: none;
}

.owl-prev:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f104";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}

.owl-prev {
  opacity: 0.75;
  transition: all 0.5s;
}

.owl-prev:hover {
  opacity: 1;
}

.owl-next {
  outline: none;
  position: absolute;
  right: -85px;
}

.owl-next:before {
  display: inline-block;
  font-family: "FontAwesome";
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: "\f105";
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border: 1px solid #2a2a2a;
}

.owl-next {
  opacity: 0.75;
  transition: all 0.5s;
}

.owl-next:hover {
  opacity: 1;
}

/* men & woman & kid End */
/* Explore Start */
.left-content {
  margin-right: 30px;
}

.left-content h2 {
  font-size: 34px;
  font-weight: 900;
  color: #2a2a2a;
}

.down-content span {
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

.left-content .quote {
  margin-top: 25px;
}

.left-content .quote i {
  float: left;
  font-size: 32px;
  margin-right: 15px;
  margin-top: 10px;
}

.left-content .quote p {
  font-style: italic;
  color: #2a2a2a;
  font-weight: 500;
}

.left-content p {
  font-size: 18px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

.main-border-button a:hover {
  background-color: #000000;
  color: #fff;
  border: 2px solid #000000;
}

#Explore .leather {
  margin-bottom: 30px;
}

#Explore .first-image {
  margin-bottom: 30px;
}

#Explore .leather, #Explore .types {
  min-height: 255px;
  background-color: #f8f8f8;
  text-align: center;
  width: 100%;
}

#Explore .leather h4,
#Explore .types h4 {
  font-size: 32px;
  font-weight: 700;
  color: #2a2a2a;
  padding-top: 90px;
  margin-bottom: 5px;
}

#Explore .leather span,
#Explore .types span {
  font-size: 20px;
  font-style: italic;
  color: #aaaaaa;
  font-weight: 500;
}

/* Explore End */
/* social Start */
#social {
  margin-top: 90px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}

#social .section-heading h2 {
  font-size: 34px;
  font-weight: 900;
  color: #2a2a2a;
}

#social .section-heading span {
  font-size: 21px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

#social .col-2 {
  padding-left: 0;
  padding-right: 0;
}

#social .images {
  margin-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

#social .thumb {
  position: relative;
}

#social .thumb .icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

#social .thumb:hover .icon {
  opacity: 1;
  visibility: visible;
}

#social .thumb .icon h6 {
  color: #fff;
  position: absolute;
  font-size: 19px;
  bottom: 40px;
  font-weight: 400;
  left: 15px;
}

#social .thumb .icon i {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
}

/* social End */
/* subscribe Start */
.subscribe {
  margin-top: 90px;
}

.subscribe .section-heading {
  margin-bottom: 30px;
}

.subscribe .section-heading {
  margin-bottom: 30px;
}

.subscribe .section-heading h2 {
  line-height: 55px;
}

.subscribe form input {
  width: 100%;
  height: 60px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 17px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.subscribe form input::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.subscribe form button {
  width: 55px;
  height: 55px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2a2a2a;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
}

.subscribe form i {
  font-size: 21px;
}

.subscribe form button:hover {
  background-color: #fff;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
}

.subscribe ul li {
  margin-bottom: 30px;
  display: block;
  font-size: 19px;
  font-weight: 700;
  color: #2a2a2a;
  color: #2a2a2a;
}

.subscribe ul li span,
.subscribe ul li span a {
  font-size: 19px;
  font-weight: 400;
  color: #aaa;
  text-decoration: none;
}

.subscribe ul li span a:hover {
  color: #2a2a2a;
}

/* subscribe End */
/* footer Start */
footer {
  margin-top: 60px;
  padding: 60px 0px 30px 0px;
  background-color: #2a2a2a;
}

footer .logo {
  margin-bottom: 20px;
}

footer ul li {
  display: block;
  margin-bottom: 10px;
}

footer ul li a {
  font-size: 19px;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}

footer ul li a:hover {
  color: #aaa;
}

footer h4 {
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

footer .under-footer {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid;
}

footer .under-footer ul {
  margin-top: 20px;
}

footer .under-footer ul li {
  display: inline-block;
  margin: 0px 10px;
}

footer .under-footer ul li a {
  font-size: 25px;
}

footer .under-footer .Copyright {
  color: white;
  font-size: 19px;
  font-weight: 300;
}

footer .under-foot a {
  color: #cff;
  text-decoration: none;
}

footer .under-foot li a:hover {
  color: #c66 !important;
}

/* footer End *//*# sourceMappingURL=Style.css.map */